.hide
    script(type="template")#about_tmp

        .section
            h2.greeting <%= greeting %>
            
        .section
            .about_me  
                <% for(var i in about_me) { %> 
                p <%= about_me[i] %> 
                <% } %> 
        hr
        .section.row
            .col-md-6
                h3 Objectives
                ul.objectives
                    <% for(var i in objectives) { %> 
                    li  <%= objectives[i] %> 
                    <% } %> 
            .col-md-6
                h3 Interests
                ul.interests
                    <% for(var i in interests) { %> 
                    li  <%= interests[i] %> 
                    <% } %> 
        hr        
        .section
            h3 Education
            .education
                <% for(var i in education) { %>
                .school
                    <% if(i!=0) { %> 
                    hr
                    <% } %>
                    .row
                        .col-md-6
                            h4.name <%= education[i].name %> 
                            h5.location <%= education[i].location  %> 
                            p.major <%= education[i].major  %>
                            p.year <%= education[i].year  %>
                        .col-md-6
                            <% for(var j in education[i].bullets) { %>
                            ul.bullets
                                li <%= education[i].bullets[j] %>
                            <% } %> 
                <% } %> 
        hr
        .section
            h3 Connect
            .contact
                .row
                    .col-md-12
                        <% for(var j in contact[i]) { %>
                            ul.title
                                li
                                    a.link(href!="<%= contact[i][j]  %>", target="_blank") <%= j %>
                        <% } %> 
        hr

    script(type="template")#posts_tmp
        .section
            h5.date <%= date %> 
            h3.title
                <% if(link != "") { %>
                a.link(href!="<%= link %>", target="_blank") <%= title %>
                <% } else { %>
                <%= title %>
                <% } %>
            .dot
            h4.subtitle <%= subtitle %>
            hr
            p.content <%= content %>
        hr

    script(type="template")#projects_tmp
        .section
            h5.date <%= date %>
            h3.title
                <% if(link != "") { %>
                a.link(href!="<%= link %>", target="_blank") <%= project %>
                <% } else { %>
                <%= project %>
                <% } %>
            .dot
            h4.subtitle <%= award %>
            h5.location <%= location %>
            .content 
                <% for(var i in info) { %> 
                p  <%= info[i] %> 
                <% } %> 
        hr

    script(type="template")#experience_tmp
        .section
            h5.date <%= date %>
            h3.title
                <% if(link != "") { %>
                a.link(href!="<%= link %>", target="_blank") <%= company %>
                <% } else { %>
                <%= company %>
                <% } %>
            .dot
            h4.subtitle <%= position %>
            h5.location <%= location %>
            .content 
                <% for(var i in info) { %> 
                p  <%= info[i] %> 
                <% } %> 
        hr