extends layout

block splash

    .loader 
        h4 searching...

block side
    .header
        a(href="/#about")
            img.me(src=image)

        .nav_bar
            a.nav(href="/#about") Back

block content

    .notfound
        .section
            h1 404
            p Something isn't right here